# Large / generated
data/
datasets/
checkpoints/
weights/
*.pt
*.pth
*.ckpt
*.h5
*.npz
*.zip
*.tar
*.tar.gz
__pycache__/
*.ipynb_checkpoints
.idea/
outputs/
struct_token_bench_logs/
../pdb_data/mmcif_files/mmcif_files/
../pdb_data/mmcif_files/obsolete.dat
../struct_token_bench_logs/
../struct_token_bench_release_ckpt/
../struct_token_bench_release_data/data/functional/local/**/out_ps/
*.pkl
*.ckpt